:root{
    ---rolp-yellow: #FFC619;
}
body {
    background: whitesmoke;
    font-family: 'Open Sans';
    color: #444444;
}

/* FOR CLOCK */
.box1 {
    height: 30px;
    background: linear-gradient(to top, #ffcc66 0%, #cc9900 100%);
}

h1,h2,h3,h4,h5, .rolp-title{
    font-family: "Helvetica";
    font-weight: bold;
}

.rolp-header-nav.rolp-color{
    background-color: var(---rolp-yellow) !important;
}

.navbar{
    padding: 20px 0;
    transition: all 0.5s;
    padding-top: 0;
    padding-bottom: 0;
        img{
            width: 100%;
            max-width: 150px;
        }
    .navbar-nav{
        a{
            font-weight: bold;
            font-size: 16px;
            color: white;
        }

        a:hover{
            color: var(---rolp-yellow);
        }

        a.active{
            color: white;
            border-bottom: 2px solid var(---rolp-yellow);
        }
    }

    li{
        margin: 0 20px;
    }
}


.rolp-btn{
    text-decoration: none;
    background-color: var(---rolp-yellow);
    padding: 15px 25px;
    color: #444444;
    font-weight: bold;
}

.rolp-home-hero{
    padding: 0;
    .hero-rolp-row{
        height: 50vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
    }

    img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .about-us-section{
        justify-content: center;
        padding: 100px 15px;
        .about-us-col{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 25px;
            img{
                width: 100%;
            }
            p{
                font-weight: bold;
                font-size: 32px;
            }
            .rolp-btn{
                margin-top: 25px;
            }
        }
    }
}

.schedule-section{
    .todays-col, .upcoming-col{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 100px 0;
        h3{
            margin-bottom: 100px;
            font-weight: 500;
        }
        ul{
            list-style: none;
            width: 60%;
            li{
                display: flex;
                justify-content: space-between;
                border-bottom: 2px solid #444444;
                padding: 0 25px;
                font-size: 17px;
                margin-bottom: 30px;
                .rolp-title{
                    font-weight: bold;
                }
            }
        }
    }

    .upcoming-col{
        background-color: var(---rolp-yellow);

        .upcoming-items{
            background-color: white;
            padding: 30px;
            border-radius: 20px;
            margin-bottom: 25px;

            h4{
                font-size: 28px;
                margin-bottom: 15px;
                a{
                    color: #444444;
                    text-decoration: none;
                    border-bottom: 2px solid var(---rolp-yellow);
                }
            }
            p{
                font-size: 26px;
                margin-bottom: 0;
            }


        }

        .rolp-btn{
            background-color: white;
            margin-top: auto;
        }
    }

}

.blockquote{
    font-size: 6rem;
    font-weight: bolder;
    line-height: 5rem;
    margin-bottom: 0;
}

.message-section{
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    .message-col{
        display: flex;
        flex-direction: column;
        align-items: center;


        h2{
            text-align: center;
            font-weight: 500;
        }

        p.by{
            margin-top: 50px;
            font-weight: 300;
        }
    }
}

.livestream-row{
    justify-content: center;
    margin-top: 150px;
    padding: 100px 0;
    background-color: var(---rolp-yellow);
    .livestream-col{
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
            color: white;
            margin-bottom: 50px;
        }
    }
}

.activities-row{
    padding: 50px 100px;
    .activity-col{
        h3{
            text-align: center;
            margin-bottom: 35px;
        }
        iframe{
            margin-bottom: 25px;
            width: 100%;
        }
    }

    .gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
        img{
            width: 30%;
        }
    }
}



footer.rolp-footer{
    background-color: var(---rolp-yellow);
    padding: 150px 100px 20px;

    p,h4,h5,h3{
        color: white;
    }

    .footer-row{
        justify-content: space-between;

        .footer-items{
            margin-bottom: 50px;
        }
    }

    .copy-row{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        p{
            width: auto;
        }
    }
}



body .page-about{

    .hero-rolp-row{
        height: 20vw;
        background-position: 80%;
    }
    .blockquote{
        text-align: left;
        align-self: self-start;
        line-height: 2rem;
    }

    .our-priest{
        padding-bottom: 100px;
        .priest-col{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 35px auto ;
            img{
                width: 100%;
                height: auto;
                max-width: 300px;
            }
        }
    }
    .about-us-section{
        .mx-auto{
            margin-bottom: 30px;
        }
        .about-us-col{
            margin-top: 30px;
            padding: 0 10%;
            p{
                color: #444444;
                font-size: 18px;
            }
        }

        .monsi-img{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                border-radius: 30px;
                max-height: 470px;
                max-width: 440px;
                object-position: center;
                object-fit: cover;
            }
        }
    }

    .staff-row{
        background-color: white;
        padding: 150px 0;
        .staff-img-col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5%;
            img{
                width: 100%;
                }
        }
        .staff-text-col{
            padding: 5%;
            ul{
                list-style: none;
                padding: 0;
                font-weight: bold;
                li{
                    margin-bottom: 8px;
                }
            }
        }

        .about-img{
            img{
                width: 100%;
                height: auto;
                max-height: 100%;
            }
        }
    }
}


@media (max-width: 700px) {
    iframe {
        width: 100% !important;
    }
}

@media (max-width: 991px) {
    .navbar {
        background: #FFC619 !important;
    }
    .rolp-header-nav{
        position: relative;
    }
    .rolp-header-nav.rolp-color{
        position: fixed;
    }
    .navbar .container{
        max-width: 95%;
    }
    .schedule-section{
        .upcoming-col{
            .upcoming-items{
                align-items: normal !important;
                background-color: white;
                padding: 30px;
                border-radius: 0px;
                margin-bottom: 25px;
            }
        }
    }
    .priest-col{
        flex-wrap: wrap;
        img {
            margin-bottom: 30px;
        }
    }
    
}

@media (max-width: 1024px) {
    .activities-row {
        padding: 50px 25px;
    }

    footer.rolp-footer {
        padding: 100px 25px 20px;
    }
}