

.home-container .home-row{
    background-color: blueviolet;
}


.home-container{
    .home-row{
        .home-announcement{

            h2, h3, p{
                color: white;
            }

            h2{
                font-size: 25px;
            }
            h3{
                font-size: 18px;
            }

            .announcement-item{
                margin-top: 15px;
            }
        }
    }
}
@media only screen and (max-width: 425px ){
   
}

@media only screen and (max-width: 375px){
   
}