@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


.home-container .home-row{
    background-color: blueviolet;
}

h2, h3{
    color: white;
}

h2{
    font-size: 25px;
}
h3{
    font-size: 18px;
}

p{
    color: #444444;
    font-size: 18px;
}

.home-container{
    .home-row{
        .home-announcement{



            .announcement-item{
                margin-top: 15px;
            }
        }
    }
}

@media (min-width: 1199px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media only screen and (max-width: 425px ){

}

@media only screen and (max-width: 375px){

}
